
[MASTER]
jobs=4
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[EXCEPTIONS]

overgeneral-exceptions=builtins.Exception

[LOGGING]

logging-modules=logging

[MESSAGES CONTROL]

disable=
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring,
    missing-timeout,
    too-many-lines,
    too-many-locals,
    too-many-branches,
    too-many-arguments,
    too-many-statements,
    too-many-return-statements,
    too-many-instance-attributes,
    invalid-name,
    no-value-for-parameter,
    consider-using-f-string,
    redefined-outer-name,
    global-statement,
    unreachable,
    use-dict-literal,
    fixme,
    unspecified-encoding,
    broad-exception-caught,
    too-few-public-methods,
    super-init-not-called,
    c-extension-no-member,
    redefined-argument-from-local,
    global-variable-not-assigned,
    used-before-assignment,
    protected-access,

[REPORTS]

reports=no
score=no

[FORMAT]

max-line-length=100

[VARIABLES]

callbacks=cb_,_cb
dummy-variables-rgx=_
ignored-argument-names=_.*

[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager

